.product_bg {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 900px;
    background: darkgreen;
    margin: auto;
}

.product_img_bg {
    display: block;
    width: 600px;
    height: 850px;
    background-color: rgb(222, 222, 222);
    margin: 10px;
}

.product_img {
    margin: auto;
    width: 580px;
    height: 600px;
    background-color: #346AFF;
}

.product_pager {
    margin: 10px auto;
    width: 580px;
    height: 80px;
    background-color: #346AFF;
}

.product_review {
    margin: 10px auto;
    width: 580px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 20px;
}

.product_rel_evt {
    margin: 10px auto;
    width: 580px;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.proruct_txt {
    margin: 10px;
    width: 850px;
    height: 750px;
    background-color: rgb(0, 222, 222);
}


.banner_ {
    width: auto;
    height: 100px;
    margin: auto;

    background-color: darkorange;
}

.produnct_info_bg {
    position: relative;
    width: 1280px;
    height: auto;
    margin: auto;
    background-color: cornsilk;
}

.side_opt {
    position: relative;
    width: 300px;
    height: 800px;
    background-color: aqua;
    float: right;
}

.produnct_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 960px;
    height: auto;
    background-color: cornflowerblue;
    margin: 10px;
}

.produnct_info img {
    margin: 10px auto;
}

.produnct_sale {
    width: 1240px;
    height: auto;
    background-color: cornflowerblue;
    margin: 10px auto;
}

.produnct_required_info {
    width: 1240px;
    height: auto;
    background-color: cornflowerblue;
    margin: 10px auto;
}

.produnct_shp_info {
    width: 1240px;
    height: auto;
    background-color: cornflowerblue;
    margin: 10px auto;
}

.produnct_shp_info > p{
    padding: 10px 20px;
}

div h3 {
    font-size: 30px;
    margin: 30px 0;
}

.produnct_review {
    width: 1240px;
    height: auto;
    background-color: cornflowerblue;
    margin: 10px auto;
}

.width_cmt_title {
    width: auto;
    font-weight: bold;
    border-right: 1px solid grey;
    padding: 0 10px;

}

.width_130 {
    border-right: 1px solid grey;
    display: inline-block;
    width: 130px;
    text-align: center;
    padding-right: 15px;

}

.width_50 {
    border-right: 1px solid grey;
    display: inline-block;
    width: 50px;
    text-align: center;
    padding-right: 5px;
}

.width_600 {
    width: 600px;
}

.cmt_cont {
    padding: 10px 30px;
    margin: 10px 20px;
}

.other_produnct_info_bg {

    width: 1240px;
    height: 500px;
    margin: auto;
    background-color: cornflowerblue;
}

.cmt_cont_box {
    height: auto;
    border-top: 1px solid gray;
    margin: 10px 0;
    border-bottom: 1px solid gray;
}

.product_name {
    margin: 20px;
    font-size: 36px;
}

.product_price {
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.product_chk_shp {
    margin: 20px;
    font-size: 20px;
}

.product_sale_info {
    margin: 20px;
    font-size: 30px;
}

.product_shipping_info {
    margin: 20px;
    font-size: 30px;
}

.product_btn_styBox {
    height: 60px;
    margin: 20px;
}

.proruct_txt select {
    width: 280px;
    height: 30px;
}

.select_txt {
    margin: 10px 20px;
    height: 30px;
    font-size: 20px;
}

.select_complete {
    margin: 40px 20px;
    height: 80px;
    background-color: cadetblue;
}

.product_sum_price {
    margin: 30px 20px;
    font-size: 20px;
    text-align: right;
}

.product_sum_price_num {
    font-size: 40px;
    color: red;

}

.product_amount {
    width: 40px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    outline: 1px solid grey;
}

input:focus {
    outline: 1px solid grey;
}

/* outline 테두리 속성 수정 */


/* outline 테두리 없애기 */
.amount_btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border: 1px solid grey;
}

.btn_sty1 {
    float: left;
    display: inline-block;
    text-align: center;
    width: 210px;
    height: 60px;
    background-color: black;
    color: white !important;
    font-size: 18px;
    line-height: 60px;
}

.btn_sty2 {
    float: left;
    display: inline-block;
    text-align: center;
    width: 210px;
    height: 60px;
    background-color: #346AFF;
    color: white !important;
    font-size: 18px;
    line-height: 60px;
}

.btn_sty3 {
    float: left;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #346AFF;
    text-align: center;
}

table,
td {
    border-collapse: collapse
}

.Required_info td {
    width: 1040px;
    border: 1px solid black;
    padding: 20px;
}

.Required_info th {
    width: 300px;
    text-align: left;
    border: 1px solid black;
    padding: 20px;
}

.shp_info td {
    width: 1040px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
}

.shp_info th {
    width: 200px;
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.exchange_returns td {
    width: 1040px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
}

.exchange_returns th {
    width: 200px;
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.exchange_returns p {
    margin: 10px 0;

}

.board_list_set th,
.board_list_set td,
.pager {
    padding: 10px;
    text-align: center
}

.board_list_set,
.pager {
    margin: auto;
    width: 1200px;
}

.board_list_title {
    border-top: 2px solid #999;
    border-bottom: 1px solid #999
}

.board_list_content {
    border-bottom: 1px solid #999;
}

.no {
    width: 60px
}

.b_title {
    width: 500px
}

.b_name {
    width: 100px
}

.w_date {
    width: 120px
}

.cnt {
    width: 80px
}

.board_content_title {
    text-align: left;
    padding-left: 10px
}

a:hover {
    color: rgb(255, 128, 0)
}

.write_area {
    width: 860px;
    display: flex;
    justify-content: space-between
}

.qna_write {
    width: 1000px;
    padding: 20px;
    margin: auto;
    text-align: right;
}